.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: rgb(0, 0, 0);
}

.mx-auto{
    margin-left: auto;
    margin-right: auto; 
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: rgb(139 170 217);
}

.btn{
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: rgb(139 170 217);
}

.image-size{
    width: 1px;
    height: 1px;
}

.btn1{
    padding:7px 12px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(124, 211, 233);
}

.text-white{
    color: rgb(255, 255, 255);
}


.section1{
    height: 57vh;
}

.cur{
    cursor: pointer;
}

.text-center{
    text-align: center;
}

